<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
  <% include ./partials/_header %>
<body>
=======
<head>
<body>
<header>
  <% include partials/_header %>
</header>
</head>
>>>>>>> feature/user-registration
  <title>List of URL</title>
<ul>
<code><% for (x in urls) { %> <br><br>
  <li><%= x %> - <a href=<%= urls[x] %>><%= urls[x] %></a></li>
    <a href="/urls/<%= x %>"><button>Edit</button></a>
    <form method="POST" action="/urls/<%= x %>/delete"><button type="delete">Delete</button></form>
  <% } %>
  <br><br>
</code>
</ul>
<<<<<<< HEAD
<a href="/urls/new/">Click here to create new url</a>
=======

<br><br><br><br>
<h5><button><a href="/urls/new">Create URLS</a></button></h5>
>>>>>>> feature/user-registration
</body>
</html>