<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_header %>
<body>
  <title>List of URL</title>
<ul>
<code><% for (x in urls) { %> <br><br>
  <li><%= x %> - <a href=<%= urls[x] %>><%= urls[x] %></a></li>
    <a href="/urls/<%= x %>"><button>Edit</button></a>
    <form method="POST" action="/urls/<%= x %>/delete"><button type="delete">Delete</button></form>
  <% } %>
  <br><br>
</code>
</ul>
<a href="/urls/new/">Click here to create new url</a>
</body>
</html>