<!DOCTYPE html>
<html lang="en">
<head>
<body>
<header>
  <% include partials/_header %>
</header>
</head>
  <title>List of URL</title>
<ul>
<code><% for (x in urls) { %> <br><br>
  <li><%= x %> - <a href=<%= urls[x] %>><%= urls[x].address %></a></li>
     <a href="/urls/<%= x %>"><button>Edit</button></a>
    <form method="POST" action="/urls/<%= x %>/delete"><button type="delete">Delete</button></form>
  <% } %>
  <br><br>
</code>
</ul>

<br><br><br><br>
<h5><button><a href="/urls/new">Create URLS</a></button></h5>
</body>
</html>