<!DOCTYPE html>
<html lang="en">
<head>
<header>
  <% include ./partials/_header %>
</header>
</head>

<body>
  <title>List of URL</title>
  <ul>
  <code><% for (const url in urls) { %> <br><br>
    <li><%= url %> - <a href=<%= urls[url].address %>><%= urls[url].address %></a></li>
      <a href="/urls/<%= url %>"><button>Edit</button></a>
      <form method="POST" action="/urls/<%= url %>/delete"><button type="delete">Delete</button></form>
    <% } %><br><br>
  </code>
</ul>

<br><br><br><br>
<h5><button><a href="/urls/new">Create URLS</a></button></h5>
</body>
</html>